In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [5]:
# Create DataFrame from file
path = 'C:/DataCleanup/Data/Mobilize/KrucialProfilesCreatedSince2005-12-01_thru_2021-09-27.csv'

file_df = pd.read_csv(path, skip_blank_lines=True, dtype={'ProfileID':int})
file_df.head()

,First Name,Last Name,Phone,Email Address,specialty,Class,Street Address,City,State,ZIP,ProfileID,Created Date
0,JOY,EKE,972-503-5726,8505,Telemetry,Patient Care Assistant/Tech,NaN,NaN,NaN,8505,1034352,9/8/21 10:07 AM
1,Beleset,Mebrhatom,210-605-4273,2106054273,Warehouse,Warehouse Worker,NaN,NaN,NaN,78201,931364,2/22/21 9:39 AM
2,Amber,Hemphill,682-288-0296,hemphillamber5@gmail.com,Facilities,Certified Nursing Assistant,NaN,NaN,NaN,76119,875595,12/17/20 5:49 PM
3,NORTESHIA,Harmon,405-800-3103,hnorteshia@gmail.com,Long Term Acute Care,Certified Nursing Assistant,1908 ne 26 st,Oklahoma city,OK,73111,895876,1/8/21 8:09 AM
4,Laura,Larion,919-590-5617,larion.medtechrecruiting@gmail.com,Laboratory,Medical Laboratory Technician,NaN,NaN,NaN,30342,919197,2/4/21 1:47 PM

In [6]:
clean_mobilize_df = file_df.dropna(how='all')
clean_mobilize_df

,First Name,Last Name,Phone,Email Address,specialty,Class,Street Address,City,State,ZIP,ProfileID,Created Date
0,JOY,EKE,972-503-5726,8505,Telemetry,Patient Care Assistant/Tech,NaN,NaN,NaN,8505,1034352,9/8/21 10:07 AM
1,Beleset,Mebrhatom,210-605-4273,2106054273,Warehouse,Warehouse Worker,NaN,NaN,NaN,78201,931364,2/22/21 9:39 AM
2,Amber,Hemphill,682-288-0296,hemphillamber5@gmail.com,Facilities,Certified Nursing Assistant,NaN,NaN,NaN,76119,875595,12/17/20 5:49 PM
3,NORTESHIA,Harmon,405-800-3103,hnorteshia@gmail.com,Long Term Acute Care,Certified Nursing Assistant,1908 ne 26 st,Oklahoma city,OK,73111,895876,1/8/21 8:09 AM
4,Laura,Larion,919-590-5617,larion.medtechrecruiting@gmail.com,Laboratory,Medical Laboratory Technician,NaN,NaN,NaN,30342,919197,2/4/21 1:47 PM
...,...,...,...,...,...,...,...,...,...,...,...,...
503168,Alexandrea,McCall,718-496-5846,NaN,Administrative,Administrative Assistant,6500 S. Dayton St.,Centennial,CO,80111,391211,11/27/12 1:39 PM
503169,Jennifer,Corn,575-993-3134,NaN,Clinic,Medical Collector,7178 W Pine Lodge Rd.,Rosewell,NM,88201,391649,11/30/12 1:23 PM
503170,Marie,Hyppolite,857-247-8979,NaN,Home Health,Home Health Aide,9 Victory Road,Dorchester,MA,2122,398654,2/14/13 12:35 PM
503171,Marie,Hyppolite,857-247-8979,NaN,Home Health,Certified Nursing Assistant,9 Victory Road,Dorchester,MA,2122,398654,2/14/13 12:35 PM
503172,NaN,NaN,708-473-5477,NaN,Long Term Acute Care,Certified Nursing Assistant,NaN,NaN,NaN,60804,690525,4/11/19 12:02 AM

In [8]:
#sort dataframe by Profile ID
sorted_df = file_df.sort_values(by=['ProfileID','Class','specialty'])
sorted_df

,First Name,Last Name,Phone,Email Address,specialty,Class,Street Address,City,State,ZIP,ProfileID,Created Date
362054,Wanda,Kessell,816-337-0903,oglesbyk54@yahoo.com,Clinic,Registered Nurse,12531 E. 58Th Street,Kansas City,MO,64133,140201,12/1/05 7:01 PM
362055,Wanda,Kessell,816-337-0903,oglesbyk54@yahoo.com,Geriatrics,Registered Nurse,12531 E. 58Th Street,Kansas City,MO,64133,140201,12/1/05 7:01 PM
362053,Wanda,Kessell,816-337-0903,oglesbyk54@yahoo.com,Medical/Surgical,Registered Nurse,12531 E. 58Th Street,Kansas City,MO,64133,140201,12/1/05 7:01 PM
362056,Wanda,Kessell,816-337-0903,oglesbyk54@yahoo.com,Oncology,Registered Nurse,12531 E. 58Th Street,Kansas City,MO,64133,140201,12/1/05 7:01 PM
362057,Wanda,Kessell,816-337-0903,oglesbyk54@yahoo.com,Psychiatric,Registered Nurse,12531 E. 58Th Street,Kansas City,MO,64133,140201,12/1/05 7:01 PM
...,...,...,...,...,...,...,...,...,...,...,...,...
383658,Raul,Quintana,432-940-2133,raulquintana1972@gmail.com,Administrative,Direct Care,4521 Britton Ave,El Paso,TX,79904,1048731,9/27/21 8:57 AM
226700,Kailand,Franklin,979-267-4770,Kailand.franklin@yahoo.com,Facilities,Certified Nursing Assistant,NaN,NaN,NaN,77429,1048732,9/27/21 8:58 AM
474413,RUSSELL,Taylor,708-638-0537,trussell34@rocketmail.com,Mental Health,Security Guard,NaN,NaN,NaN,52246,1048733,9/27/21 9:03 AM
366320,Deborah,Carter,337-344-3772,palmcactus@gmail.com,Urgent Care,Nurse Practitioner,NaN,NaN,NaN,70503,1048734,9/27/21 9:03 AM
54113,Bianca,King,954-383-3895,bianca_king@aol.com,Lead,Onsite Representative,NaN,NaN,NaN,33319,1048735,9/27/21 9:04 AM

In [9]:
# Eliminate dups from dataframe -- make sure to concatenate class and specialty
sorted_df.groupby('ProfileID')[['specialty', 'Class']].agg('/'.join).reset_index()

# this doesn't work

        ProfileID                                              Class
0          140201  Registered Nurse/Registered Nurse/Registered N...
1          140202  Registered Nurse/Registered Nurse/Registered N...
2          140245  Licensed Practical Nurse/Licensed Practical Nu...
3          140324  Registered Nurse/Registered Nurse/Registered N...
4          140333  Registered Nurse/Registered Nurse/Registered N...
...           ...                                                ...
363842    1048731                                        Direct Care
363843    1048732                        Certified Nursing Assistant
363844    1048733                                     Security Guard
363845    1048734                                 Nurse Practitioner
363846    1048735                              Onsite Representative

[363847 rows x 2 columns]