In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
# Create DataFrame from file
path = 'C:/DataCleanup/Data/Mobilize/Mobilize part 1.csv'

file1_df = pd.read_csv(path, index_col='ProfileID', skip_blank_lines=True, dtype={'ProfileID':int})
file1_df.head()

,WorkdayID,First Name,Last Name,Email,Address1,Address2,City,State,ZIP,Birth Date,Phone Numbers,Classes,Areas,Created On,Last Modified On
ProfileID,,,,,,,,,,,,,,,
19908,NaN,Fatimah,Abdullah,fabdullah_3@yahoo.com,30760 eden allen road,NaN,Eden,MD,21822,12/19/1981,000-000-0000,CNA,GERI,3/28/2002,12/5/2020
19963,NaN,David,Barsamian,noemail@favoritestaffing.com,380 east center st,NaN,Manchester,CT,6040,12/5/1948,000-000-0000,RN,"MS, TEL",8/22/2001,4/6/2021
20080,NaN,Addie,Cobb,favorite@favoritestaffing.com,1414 Central Avenue,NaN,Alton,IL,62002,4/15/1980,000-000-0000,RN,"PSYC, MS, GERI",1/28/2002,1/11/2021
20088,NaN,ADETUTU,ADEYI,aoadeyi@aol.com,101 Marine Avenue,2C,Brooklyn,NY,11209,4/15/1966,"347-755-8534, 718-807-7807","LPN, RN",CLIN,1/1/1900,6/8/2017
20127,NaN,ANITA,ESPINOZA,aespinoza11@satx.rr.com,5203 Terrace Wind,NaN,San Antonio,TX,78223,7/26/1951,"210-633-2156, 210-896-7399","LPN, LVN","MS, GERI, PEDS, CLIN, NURS, HH, HSP, PP",1/1/1900,11/14/2020

In [3]:
path = 'C:/DataCleanup/Data/Mobilize/Mobilize Part 2.csv'

file2_df = pd.read_csv(path, index_col='ProfileID', skip_blank_lines=True, dtype={'ProfileID':int})
file2_df.head()

,WorkdayID,First Name,Last Name,Email,Address1,Address2,City,State,ZIP,Birth Date,Phone Numbers,Classes,Areas,Created On,Last Modified On
ProfileID,,,,,,,,,,,,,,,
19909,NaN,Julie,Szabo,szabo.julie@yahoo.com,12 von nida ave,NaN,Pittsfield,MA,1201,8/29/1962,413-770-7671,LPN,"GERI, CLIN",1/1/1900,6/6/2013
19974,NaN,Tracy,Seelbaugh,tlseelbaugh@gmail.com,40 Enclave Dr,NaN,Grove City,PA,16127,10/15/1973,"724-372-4466, 724-712-4688","CNA, RN",GERI,1/1/1900,4/18/2019
19991,NaN,Karen,Wlostoski,sasha65@comcast.net,PO Box 532,NaN,Greenfield,MA,1302,12/15/1949,413-773-7298,RN,"MS, GERI, TEL, ICU",1/1/1900,5/5/2016
20067,NaN,Melanie,Strongosky,adakcas@aol.com,2895 sunland dr,NaN,Jacksonville,FL,32250,7/29/1950,904-651-3302,RN,"MS, GERI, ONC, TEL, DMAN",1/1/1900,5/17/2012
20159,NaN,angela,schafer,angern2193@gmail.com,18peregrinedrive,NaN,voorhees,NJ,8043,5/31/1962,"856-261-8659, 856-424-3796",RN,CCU,9/19/2001,2/3/2021

In [4]:
temp_mobilize_df = file1_df.append(file2_df, ignore_index = True)

In [5]:
clean_mobilize_df = temp_mobilize_df.dropna(how='all')
clean_mobilize_df

,WorkdayID,First Name,Last Name,Email,Address1,Address2,City,State,ZIP,Birth Date,Phone Numbers,Classes,Areas,Created On,Last Modified On
0,NaN,Fatimah,Abdullah,fabdullah_3@yahoo.com,30760 eden allen road,NaN,Eden,MD,21822,12/19/1981,000-000-0000,CNA,GERI,3/28/2002,12/5/2020
1,NaN,David,Barsamian,noemail@favoritestaffing.com,380 east center st,NaN,Manchester,CT,6040,12/5/1948,000-000-0000,RN,"MS, TEL",8/22/2001,4/6/2021
2,NaN,Addie,Cobb,favorite@favoritestaffing.com,1414 Central Avenue,NaN,Alton,IL,62002,4/15/1980,000-000-0000,RN,"PSYC, MS, GERI",1/28/2002,1/11/2021
3,NaN,ADETUTU,ADEYI,aoadeyi@aol.com,101 Marine Avenue,2C,Brooklyn,NY,11209,4/15/1966,"347-755-8534, 718-807-7807","LPN, RN",CLIN,1/1/1900,6/8/2017
4,NaN,ANITA,ESPINOZA,aespinoza11@satx.rr.com,5203 Terrace Wind,NaN,San Antonio,TX,78223,7/26/1951,"210-633-2156, 210-896-7399","LPN, LVN","MS, GERI, PEDS, CLIN, NURS, HH, HSP, PP",1/1/1900,11/14/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308954,NaN,DeUndrea,Miller,Dedijah2000@gmail.com,901 Plum Street,NaN,Mineral Springs,AR,71851,NaN,903-644-0165,NaN,DIAL,7/30/2021,NaN
308955,NaN,Samora,Mcgill,samora.mcgill@hotmail.com,NaN,NaN,NaN,,28214,NaN,980-297-0702,NaN,REHB,7/30/2021,NaN
308956,NaN,Anthony,Penera,apenera@gmail.com,NaN,NaN,NaN,,78753,NaN,503-893-0798,NaN,PHAR,7/30/2021,NaN
308957,NaN,Lundia,Vankpana,Garmaidugbe@gmail.com,NaN,NaN,NaN,,57110,NaN,347-339-0903,NaN,LTAC,7/30/2021,NaN
308958,NaN,Marcia,Soward,marciasoward23@gmail.com,NaN,NaN,NaN,,46404,NaN,219-742-7465,NaN,RESP,7/30/2021,NaN

In [6]:
# Clean up data

#  1. Clean up zip codes to have at least 5 digits